<%%= semantic_form_for [:admin, @<%= options[:auth_class].downcase %>] do |f| %>
    <%%= f.inputs do %>
        <%%#= f.input :group %>
        <%%= f.input :email, :input_html => { :maxlength => 100 } %>
        <%%= f.input :password %>
        <%%= f.input :password_confirmation %>
        <li>
          <%%= f.label :roles %>
          <%% for role in <%= options[:auth_class].downcase.classify %>::ROLES %>
            <%%= check_box_tag "<%= options[:auth_class].downcase %>[roles][]", role, @<%= options[:auth_class].downcase %>.roles.include?(role) %>
            <%%= h role.humanize %>
          <%% end %>
          <%%= hidden_field_tag "<%= options[:auth_class].downcase %>[roles][]"%>
        </li>
    <%% end %>
    <%%#= f.inputs "Optional informations" do %>
        <%%#= f.input :name %>
        <%%#= f.input :login_ldap %>
    <%%# end %>
    <%%= f.buttons :commit %>
<%% end %>